services:
    postgres:
        image: 'postgres:18'
        container_name: 'pizzeria-pg'
        restart: always
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
            PGDATA: /var/lib/postgresql/data/pgdata
        ports:
            - "5432:5432"
        env_file:
            - .env
        volumes:
            - ./pg-data:/var/lib/postgresql/data/pgdata

volumes:
    pg-data:
        driver: local